#
# $(subst /,-,$(shell uname -o))
#
Cygwin/
GNU-Linux/
Solaris/

/examples/myhouse
/examples/tick
/test/cond
/test/list
/test/timespec
/test/typeinfo

*.a
*.exe
*.o
*.d
tags
core
*.exe.stackdump

# Vim temporaries
Session.vim
.*.swp
